{% extends 'pages/base.html' %}
{% load static %}

{% block breadcrumbs %}
<a href="/students">Ученики</a>
<a href="/students/add">Добавление записи</a>
{% endblock breadcrumbs %}

{% block main %}
<div class="wrapper-content">
    <div class="page">
        <div class="page-body page-block">
            <form enctype="multipart/form-data" action="/student/" method="POST" class="form">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ student.id }}">
                <div class="form-group">
                    <label for="id_fio">ФИО:</label>
                    <input type="text" name="fio" maxlength="150" required="" id="id_fio" value="{{ student.fio }}">
                </div>
                <div class="form-group">
                    <label for="id_participation_period">Период участия:</label>
                    <input type="text" name="participation_period" maxlength="250" required="" id="id_participation_period" value="{{ student.participation_period }}">
                </div>
                <div class="form-group">
                    <label for="id_mounth">Месяц:</label>
                    <select name="mounth" id="id_mounth">
                        <option value="0">Январь</option>
                        <option value="1">Февраль</option>
                        <option value="2">Март</option>
                        <option value="3">Апрель</option>
                        <option value="4">Май</option>
                        <option value="5">Июнь</option>
                        <option value="6">Июль</option>
                        <option value="7">Август</option>
                        <option value="8">Сентябрь</option>
                        <option value="9">Октябрь</option>
                        <option value="10">Ноябрь</option>
                        <option value="11">Декабрь</option>
                    </select>   
                </div>
                <div class="form-group">
                    <label for="id_level">Уровень:</label>
                    <select name="level" id="id_level">
                        <option value="0">Муниципальный</option>
                        <option value="1">Региональный</option>
                        <option value="2">Федеральный</option>
                    </select>    
                </div>  
                <div class="form-group">
                    <label for="id_category">Категория:</label>
                    <select name="category" id="id_category">
                        <option value="" selected="">---------</option>
                        {% for category in categories %}
                        <optgroup label="{{ category.name }}">
                            {% for subCategory in subCategories %}
                                {% if subCategory.category == category %}
                                    {% if subCategory == student.sub_category %}
                                    <option selected>{{ subCategory.name }}</option>
                                    {% else %}
                                    <option >{{ subCategory.name }}</option>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </optgroup>
                        {% endfor %}
                    </select>   
                </div>  
                <div class="form-group">
                    <label for="id_document">Подтверждающий документ: </label>
                    <input type="file" name="document" id="id_document" value="http://127.0.0.1:8000/media/{{ student.document }}">

                    <a class="margin-top" href="/media/{{ student.document }}">Указанный документ</a>
                </div>                
                <div class="form-group">
                    <label for="id_teacher">Учитель-наставник:</label>
                    <select name="teacher" id="id_teacher">
                        <option value="" selected="">---------</option>
                        {% for teacher in teachers %}
                            {% if teacher == student.teacher %}
                                <option value="{{ teacher.id }}" selected>{{ teacher.last_name }} {{ teacher.first_name }}</option>
                            {% else %}
                                <option value="{{ teacher.id }}">{{ teacher.last_name }} {{ teacher.first_name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select> 
                </div>  
                <div class="form-group">
                    <label for="id_result">Результат:</label>
                    <select name="result" id="id_result">
                        <option value="0">Победитель</option>
                        <option value="1">Призер</option>
                        <option value="2">Участник</option>
                    </select> 
                </div>                
                <div class="form-group">
                    <label for="id_participation_in_profile_shifts">Участие в профильных сменах:</label>
                    <select name="participation_in_profile_shifts" id="id_participation_in_profile_shifts">
                        <option value="" selected="">---------</option>
                        {% for profile in profileShifts %}
                            {% if profile == student.participation_in_profile_shifts  %}
                                <option value="{{ profile.id }}" selected>{{ profile.name }}</option>
                            {% else %}
                                <option value="{{ profile.id }}">{{ profile.name }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>   
                </div>             
                <div class="form-group">
                    <label for="id_name_program">Название программы:</label>
                    <input type="text" name="name_program" maxlength="1000" required="" id="id_name_program" value="{{ student.name_program }}">
                </div>
                <button class="button">Сохранить</button>
                <a href="/students" class="button">Назад</a>
            </form>
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script>
$('#id_mounth').val('{{ student.mounth }}')
$('#id_level').val('{{ student.level }}')
$('#id_result').val('{{ student.result }}')

const fileInput = document.querySelector('#id_document');

const myFile = new File(['Файл'], '/media/{{ student.document }}', {
    type: 'text/plain',
    lastModified: new Date(),
});

const dataTransfer = new DataTransfer();
dataTransfer.items.add(myFile);
fileInput.files = dataTransfer.files;
</script>
{% endblock scripts %}