{% extends 'pages/base.html' %}
{% load static %}

{% block breadcrumbs %}
<a href="/students">Ученики</a>
<a href="/students/add">Добавление записи</a>
{% endblock breadcrumbs %}

{% block main %}
<div class="wrapper-content" id="app">
    <div class="page">
        <div class="page-body page-block">
            <el-form :model="student" :rules="rules" label-position="left" ref="student" label-width="300px">
                <el-form-item label="ФИО" prop="fio">
                    <el-input v-model="student.fio" placeholder=""></el-input>
                </el-form-item>
                <el-form-item label="Период участия" prop="participation_period">
                    <el-input v-model="student.participation_period" placeholder=""></el-input>
                </el-form-item>
                <el-form-item label="Месяц участия" prop="mounth">
                    <el-select class="w-100" v-model="student.mounth" placeholder="">
                        <el-option v-for="(item, index) in mounthList" :key="`m-${index}`" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Уровень" prop="level">
                    <el-select class="w-100" v-model="student.level" placeholder="">
                        <el-option v-for="item in levelList" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Категория" prop="category">
                    <el-select class="w-100" v-model="student.category" placeholder="">
                        <el-option v-for="item in categories" :label="item.name" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Подкатегория" prop="sub_category">
                    <el-select class="w-100" v-model="student.sub_category" placeholder="">
                        <el-option v-for="item in subCategories" :label="item.name" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Подтверждающий документ" prop="document">
                    <el-link :href="`/media/${student.document_link}`" target="_blank">Подтверждающий документ</el-link>
                </el-form-item>
                <el-form-item label="Учитель-наставник" prop="teacher">
                    <el-select class="w-100" v-model="student.teacher" placeholder="">
                        <el-option v-for="item in teachers" :label="`${item.last_name} ${item.first_name}`" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Результат" prop="result">
                    <el-select class="w-100" v-model="student.result" placeholder="">
                        <el-option v-for="item in resultList" :label="item.label" :value="item.value"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Участие в профильных сменах" prop="participation_in_profile_shifts">
                    <el-select class="w-100" v-model="student.participation_in_profile_shifts" placeholder="">
                        <el-option v-for="item in profileShifts" :label="item.name" :value="item.id"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="Название программы" prop="name_program">
                    <el-input v-model="student.name_program" placeholder=""></el-input>
                </el-form-item>
                <el-form-item>
                    <el-button type="primary" @click="submitForm('student')">Сохранить</el-button>
                    <el-button @click="resetForm('student')">Сбросить</el-button>
                    <el-button @click="backList()">Назад</el-button>
                </el-form-item>
            </el-form>
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script src="{% static 'js/config.js' %}"></script>
<script src="{% static 'js/csrftoken.js' %}"></script>
<script>

    const djangoStudent = JSON.parse('{{ student | safe }}')[0]

    const teachers = JSON.parse('{{ teachers | safe }}')
    const subCategories = JSON.parse('{{ subCategories | safe }}')
    const categories = JSON.parse('{{ categories | safe }}')
    const profileShifts = JSON.parse('{{ profileShifts | safe }}')

    new Vue({
        el: '#app',

        delimiters: ['[[', ']]'],

        data: () => ({
            isLoading: false,

            student: setupStudent(djangoStudent),

            rules: {
                fio: [
                    { required: true, message: 'Пожалуйста, укажите ФИО', trigger: 'blur' }
                ],
                participation_period: [
                    { required: true, message: 'Пожалуйста, укажите Период участия', trigger: 'blur' }
                ],
                mounth: [
                    { required: true, message: 'Пожалуйста, выберите Месяц', trigger: 'change' }
                ],
                level: [
                    { required: true, message: 'Пожалуйста, выберите Уровень', trigger: 'change' }
                ],
                category: [
                    { required: true, message: 'Пожалуйста, выберите Категорию', trigger: 'change' }
                ],
                sub_category: [
                    { required: true, message: 'Пожалуйста, выберите Подкатегорию', trigger: 'change' }
                ],
                document: [
                    { required: false, message: 'Пожалуйста, прикрепите Документ', trigger: 'change' }
                ],
                teacher: [
                    { required: true, message: 'Пожалуйста, укажите Учителя-наставника', trigger: 'blur' }
                ],
                result: [
                    { required: true, message: 'Пожалуйста, выберите Результат', trigger: 'change' }
                ],
                participation_in_profile_shifts: [
                    { required: true, message: 'Пожалуйста, выберите Участие в профильных сменах', trigger: 'change' }
                ],
                name_program: [
                    { required: true, message: 'Пожалуйста, укажите Название программы', trigger: 'blur' }
                ],
            },

            mounthList,
            levelList,
            resultList,
            teachers,
            subCategories,
            categories,
            profileShifts,
        }),

        methods: {
            async submitForm(formName) {
                await this.$refs[formName].validate(async (valid) => {
                    if (valid) {
                        let form = new FormData()

                        for ( var key in this.student ) {
                            form.append(key, this.student[key]);
                        }

                        try {
                            const { data } = await axios.post('/student/update/', form, {
                                headers: {
                                    'Content-Type': 'multipart/form-data'
                                }
                            })

                            this.backList()

                        } catch (error) {
                            console.error(error);
                            this.$message.error(error.message);
                        }

                    } else {
                        return false;
                    }
                });
            },

            resetForm(formName) {
                this.$refs[formName].resetFields();
            },

            backList() {
                window.location.replace('/students/')
            },
        },
    })
</script>
{% endblock scripts %}