{% extends 'pages/base.html' %}
{% load static %}

{% block breadcrumbs %}
<a href="/students">Ученики</a>
{% endblock breadcrumbs %}

{% block main %}
<div class="wrapper-content">
    <div class="page">
        <div class="page-header page-block">
            <div class="flex flex-content-between flex-align-center">
                <form action="">
                    <input type="search" name="" id="" class="search">
                    <button type="button" class="button">Поиск</button>
                </form>
                <a href="/students/add" class="button">Добавить запись</a>
            </div>
        </div>
        <div class="page-body page-block">
            {% include 'components/global/tableStudents.html' %}
            {% include 'components/global/paginations.html' %}
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script src="{% static 'js/table.js' %}"></script>

<script>
$.ajax({
	url: '/student', 
	method: 'get',            
	data: {
        page: 1,
    },    
	success: function(data) { 

        let keys = {
            'fio': 'ФИО',
            'participation_period': 'Период участия',
        }

        let url = 'students'

        init(data, keys, url)         
	}
});
</script>
{% endblock scripts %}