{% extends 'pages/base.html' %}
{% load static %}

{% block breadcrumbs %}
<a href="/teachers">Учителя</a>
<a href="/teachers/add">Добавление записи</a>
{% endblock breadcrumbs %}

{% block main %}
<div class="wrapper-content">
    <div class="page">
        <div class="page-body page-block">
            <form action="" class="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            {% for error in field.errors %}
                            <div class="alert alert-danger">
                                {{ error }}
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                {% endfor %}

                <button class="button">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script>

</script>
{% endblock scripts %}