{% extends 'pages/base.html' %}
{% load static %}

{% block breadcrumbs %}
<a href="/teachers">Учителя</a>
{% endblock breadcrumbs %}

{% block main %}
<div class="wrapper-content" id="app">
    <div class="page">
        <div class="page-header page-block">
            <div class="flex flex-content-between flex-align-center">
                <form action="" class="flex flex-align-center flex-gap-5">
                    <el-input placeholder="Поиск..." v-model="form.fio"></el-input>
                    <el-button @click="getData" icon="el-icon-search" circle></el-button>
                </form>
                <a href="/teachers/add"><el-button>Добавить запись</el-button></a>
            </div>
        </div>
        <div v-if="isLoading" class="page-body page-block">
            <el-table
                :data="teachers.data"
                style="width: 100%"
            >
                <el-table-column
                    prop="fio"
                    label="ФИО"
                >
                </el-table-column>
                <el-table-column
                    prop="participation_period"
                    label="Период участия"
                >
                </el-table-column>
                <el-table-column width="140">
                    <template slot-scope="scope">
                        <el-button
                            size="mini"
                            @click="handleEdit(scope.$index, scope.row)"><i class="el-icon-edit"></i></el-button>
                        <el-popover
                            placement="bottom"
                            title="Подтверждение удаления"
                            width="200"
                            trigger="click"
                        >
                            <p>Удалить запись?</p>
                            <div class="margin-top">
                                <el-button
                                    size="mini"
                                    @click="handleDelete(scope.$index, scope.row)"
                                >
                                    Удалить
                                </el-button>
                            </div>

                            <el-button size="mini" type="danger" slot="reference"><i class="el-icon-delete"></i></el-button>
                        </el-popover>
                    </template>
                </el-table-column>
            </el-table> 
            <div class="margin-top">
                <el-pagination
                    @current-change="getData"
                    :total="teachers.total"
                    :current-page="getCurrentPage"
                    background
                    layout="prev, pager, next"
                >
                </el-pagination>   
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
<script>
    new Vue({
        el: '#app',

        delimiters: ['[[', ']]'],

        data: () => ({
            isLoading: false,

            teachers: null,

            form: {
                fio: '',
            },
        }),

        computed: {
            getCurrentPage() {
                return Number(this.teachers.page)
            },
        },

        created() {
            this.getData()
        },

        methods: {
            async getData(page = 1) {
                this.isLoading = false

                const params = {
                    ...this.form,
                    page,
                }

                const { data } = await axios.get('/teacher', { params })

                this.teachers = data

                this.isLoading = true
            },

            handleEdit(index, row) {
                window.location.replace(`/teacher/${row.id}`)
            },

            async handleDelete(index, row) {
                try {
                    const form = new FormData()

                    form.append('id', row.id)

                    const { data } = await axios.post('/teacher/delete/', form)

                    this.getData(this.teachers.page)
                } catch (error) {
                    console.error(error);
                    this.$message.error(error.message);                    
                }
            },
        },
    })
</script>
{% endblock scripts %}