{% extends 'pages/base.html' %}

{% block header %}
{% endblock header %}

{% block main %}
<div class="wrapper-content">
    <div class="flex flex-content-center flex-align-center flex-gap-15">
        <div class="card flex center">
            <a href="/teachers" class="card-link">Учитель</a>
        </div>
        <div class="card flex center">
            <a href="/students" class="card-link">Ученик</a>
        </div>
    </div>
</div>
{% endblock main %}

{% block scripts %}
{% endblock scripts %}