body {
  overflow-x: hidden;

  @include Roboto();
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.flex-content-center {
  justify-content: center;
}

.flex-content-around {
  justify-content: space-around;
}

.flex-content-between {
  justify-content: space-between;
}


.flex-align-center {
  align-items: center;
}

.flex-gap-5 {
  row-gap: 5px;
  column-gap: 5px;
}

.flex-gap-15 {
  row-gap: 15px;
  column-gap: 15px;
}

.center {
  justify-content: center;
  align-items: center;
}

.margin-top {
  margin-top: $padding;
}

.margin-left {
  margin-left: $padding;
}