<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'libs/datepicker/air-datepicker.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.min.css' %}">
    <title>Информант</title>
    {% block meta %}{% endblock %}
</head>
<body>
    <main class="wrapper">
        <header class="header">
            <div class="wrapper-content header-wrapper">
                <h1 class="header-title">Информант</h1>
                <a href="" class="header-link">Выход</a>
            </div>
        </header>

        <div class="wrapper-content">
            <div class="breadcrumbs">
                <a href="/">Главная</a>
                {% block breadcrumbs %}{% endblock breadcrumbs %}
            </div>
        </div>

        {% block main %}{% endblock main %}
    </main>  

    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/datepicker.js' %}"></script>
    <script src="{% static 'js/moment.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>

    {% block scripts %}{% endblock scripts %}
</body>
</html>